  
{% extends 'base.html' %}
{% block content %}
  
  <!-- Product section-->
  <section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
           
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">
                    We’re here to Increase your Productivity</h1>
               
                <p class="lead"> VerBI is a business intelligence tool that enables users to
                    access real-time data insights through voice commands. Make
                    informed business decisions on the go!</p>
                <div class="d-flex">
                    <button class="btn btn flex-shrink-0" type="button">
                        Try It Out
                    </button>
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-play-fill me-1"></i>
                        View Demo
                    </button>
                </div>
            </div>
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
        </div>
    </div>
</section>
{% endblock %}
